In [1]:
import pandas as pd

In [2]:
path="date=2019-11-08.csv"

In [3]:
df=pd.read_csv(path)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5763 entries, 0 to 5762
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   driver_id       5763 non-null   object
 1   tripid          5763 non-null   int64
 2   points          5763 non-null   int64
 3   Actualduration  5763 non-null   float64
 4   AverageP        5763 non-null   float64
 5   distance        5763 non-null   float64
 6   duration        5763 non-null   float64
 7   WaitingTime     5763 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 360.3+ KB

In [5]:
df.describe()

,tripid,points,Actualduration,AverageP,distance,duration,WaitingTime
count,5.763000e+03,5763.000000,5763.000000,5763.000000,5763.000000,5763.000000,5763.000000
mean,1.893672e+08,125.440396,1602.579386,26.672630,4.750215,1350.569148,421.247441
std,7.878263e+04,126.273587,1594.178581,131.128145,6.693214,1401.315010,352.399288
min,1.891104e+08,1.000000,23.000000,8.000000,0.000000,0.000000,-6232.000000
25%,1.893175e+08,44.000000,589.000000,10.011111,0.960000,460.000000,218.000000
50%,1.893404e+08,86.000000,1117.000000,10.150943,2.810000,912.000000,376.000000
75%,1.894171e+08,167.000000,2130.000000,12.760699,6.190000,1784.000000,576.000000
max,1.895579e+08,1517.000000,31553.000000,4357.500000,208.800000,15640.000000,9945.000000

In [6]:
df

,driver_id,tripid,points,Actualduration,AverageP,distance,duration,WaitingTime
0,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189282679,118,1177.0,9.974576,8.82,1170.0,126.0
1,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189292339,50,537.0,10.740000,2.38,526.0,102.0
2,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189310827,55,548.0,9.963636,0.00,540.0,205.0
3,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189325661,68,676.0,9.941176,4.67,670.0,246.0
4,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189327890,91,987.0,10.846154,1.46,930.0,105.0
...,...,...,...,...,...,...,...,...
5758,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189338287,55,557.0,10.127273,1.28,540.0,306.0
5759,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189340755,23,229.0,9.956522,0.00,220.0,1349.0
5760,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189352845,58,580.0,10.000000,0.89,570.0,41.0
5761,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189356837,65,648.0,9.969231,4.02,640.0,1020.0
5762,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189373761,5,54.0,10.800000,0.00,40.0,3468.0

In [7]:
df_filtered_avg_points = df[df['AverageP'] <= 15]

In [8]:
df_filtered_avg_points

,driver_id,tripid,points,Actualduration,AverageP,distance,duration,WaitingTime
0,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189282679,118,1177.0,9.974576,8.82,1170.0,126.0
1,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189292339,50,537.0,10.740000,2.38,526.0,102.0
2,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189310827,55,548.0,9.963636,0.00,540.0,205.0
3,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189325661,68,676.0,9.941176,4.67,670.0,246.0
4,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189327890,91,987.0,10.846154,1.46,930.0,105.0
...,...,...,...,...,...,...,...,...
5758,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189338287,55,557.0,10.127273,1.28,540.0,306.0
5759,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189340755,23,229.0,9.956522,0.00,220.0,1349.0
5760,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189352845,58,580.0,10.000000,0.89,570.0,41.0
5761,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189356837,65,648.0,9.969231,4.02,640.0,1020.0
5762,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189373761,5,54.0,10.800000,0.00,40.0,3468.0

In [9]:
df_filtered_avg_points = df_filtered_avg_points[df_filtered_avg_points["distance"] > 0.05]
df_filtered_avg_points = df_filtered_avg_points[df_filtered_avg_points["duration"] > 0]

In [10]:
df_filtered_avg_points

,driver_id,tripid,points,Actualduration,AverageP,distance,duration,WaitingTime
0,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189282679,118,1177.0,9.974576,8.82,1170.0,126.0
1,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189292339,50,537.0,10.740000,2.38,526.0,102.0
3,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189325661,68,676.0,9.941176,4.67,670.0,246.0
4,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189327890,91,987.0,10.846154,1.46,930.0,105.0
5,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,189331215,112,1124.0,10.035714,6.74,1110.0,616.0
...,...,...,...,...,...,...,...,...
5756,add78008bf890a56b09dccf59a6612b00121044b22aefa...,189349354,53,527.0,9.943396,0.70,520.0,749.0
5757,add78008bf890a56b09dccf59a6612b00121044b22aefa...,189354486,54,545.0,10.092593,0.42,536.0,1547.0
5758,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189338287,55,557.0,10.127273,1.28,540.0,306.0
5760,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189352845,58,580.0,10.000000,0.89,570.0,41.0
5761,b7ae595dc82cc2a06cea03d9780f822804894e0cd63d05...,189356837,65,648.0,9.969231,4.02,640.0,1020.0

In [11]:
df_filtered_avg_points.to_csv("validtrips_date=2019-11-08.csv")

In [12]:
#Below Codes mmay be important later dont delete

In [13]:
df_driver_summary=df_filtered_avg_points.groupby('driver_id').agg({'tripid':'count', 'Actualduration': 'sum','distance':'sum','WaitingTime':'sum'}).reset_index()

In [14]:
df_driver_summary["driver_id"].nunique()

829

In [15]:
df_driver_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   driver_id       829 non-null    object
 1   tripid          829 non-null    int64
 2   Actualduration  829 non-null    float64
 3   distance        829 non-null    float64
 4   WaitingTime     829 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 32.5+ KB

In [16]:
df_driver_summary.describe()

           tripid  Actualduration    distance  WaitingTime
count  829.000000      829.000000  829.000000   829.000000
mean     5.215923     7874.681544   28.516309  2187.124246
std      3.287428     5024.704867   22.416331  1504.033043
min      1.000000       98.000000    0.070000     3.000000
25%      3.000000     4050.000000   12.140000  1132.000000
50%      5.000000     7173.000000   24.380000  1861.000000
75%      7.000000    10852.000000   39.060000  2972.000000
max     20.000000    28934.000000  256.850000  9986.000000

In [17]:
df_driver_summary

,driver_id,tripid,Actualduration,distance,WaitingTime
0,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,8,10881.0,56.22,2014.0
1,00c6dda371d7192310a3b12f05c8c82d56e1b7a39537c2...,5,6975.0,20.74,2367.0
2,00ce195f11cfa5d5e228095893a866e2ec79cf3aa1c423...,4,3220.0,11.40,1402.0
3,010cbc4ccc307d3b4fd7214c8d6c76d700ec0561fc467a...,8,15825.0,50.79,2397.0
4,01af51ec6c430f406fcde188aa86412b68870084ccda59...,2,1939.0,5.28,1405.0
...,...,...,...,...,...
824,fba4b9b0034df5910a9433bbb36772ccaf3d775b6adb5f...,14,12110.0,51.38,4522.0
825,fba60ddcd80b963d97088e4e0ac82c76f9434eee0b9e54...,6,14930.0,26.34,4321.0
826,fdddb7ff6f41dadcdfd96eda412d6cf5dae1de323112b7...,15,11827.0,37.76,2944.0
827,fe4abf2fbd236caeb3e04b36379e7394bfb67c1beef1b4...,1,5939.0,25.05,912.0
828,ff829fe752121ac0a41d2e262615d45572f001419f895a...,3,3885.0,10.13,934.0

In [18]:
df_driver_summary=df_driver_summary.rename(columns={'tripid': 'trip_count', 'Actualduration': 'total_trip_duration', 'distance': 'total_trip_distance'})

In [19]:
df_driver_summary

,driver_id,trip_count,total_trip_duration,total_trip_distance,WaitingTime
0,006ed08c7fe1278c64a3c5dbac78c7b0a9cec8d7316c51...,8,10881.0,56.22,2014.0
1,00c6dda371d7192310a3b12f05c8c82d56e1b7a39537c2...,5,6975.0,20.74,2367.0
2,00ce195f11cfa5d5e228095893a866e2ec79cf3aa1c423...,4,3220.0,11.40,1402.0
3,010cbc4ccc307d3b4fd7214c8d6c76d700ec0561fc467a...,8,15825.0,50.79,2397.0
4,01af51ec6c430f406fcde188aa86412b68870084ccda59...,2,1939.0,5.28,1405.0
...,...,...,...,...,...
824,fba4b9b0034df5910a9433bbb36772ccaf3d775b6adb5f...,14,12110.0,51.38,4522.0
825,fba60ddcd80b963d97088e4e0ac82c76f9434eee0b9e54...,6,14930.0,26.34,4321.0
826,fdddb7ff6f41dadcdfd96eda412d6cf5dae1de323112b7...,15,11827.0,37.76,2944.0
827,fe4abf2fbd236caeb3e04b36379e7394bfb67c1beef1b4...,1,5939.0,25.05,912.0
828,ff829fe752121ac0a41d2e262615d45572f001419f895a...,3,3885.0,10.13,934.0

In [20]:
###df_driver_summary.to_csv("driver_21days_filltered_points.csv")

In [21]:
df_driver_summary.describe()

       trip_count  total_trip_duration  total_trip_distance  WaitingTime
count  829.000000           829.000000           829.000000   829.000000
mean     5.215923          7874.681544            28.516309  2187.124246
std      3.287428          5024.704867            22.416331  1504.033043
min      1.000000            98.000000             0.070000     3.000000
25%      3.000000          4050.000000            12.140000  1132.000000
50%      5.000000          7173.000000            24.380000  1861.000000
75%      7.000000         10852.000000            39.060000  2972.000000
max     20.000000         28934.000000           256.850000  9986.000000